# Null & Missing Analysis

This notebook conducts analysis of null and missing values in the data, then checks again after joining.

In [4]:
from pyspark.sql import SparkSession, functions as F
from pyspark.sql.functions import col, isnan, when, count
from pyspark.sql.types import DateType
from pyspark.sql import DataFrame

ModuleNotFoundError: No module named 'pyspark'

In [ ]:
# Create a spark session (which will run spark jobs)
spark = (
    SparkSession.builder.appName("null analysis")
    .config("spark.sql.repl.eagerEval.enabled", True)
    .config("spark.sql.parquet.cacheMetadata", "true")
    .config("spark.sql.session.timeZone", "Etc/UTC")
    .config('spark.driver.memory', '4g')
    .config('spark.executor.memory', '2g')
    .getOrCreate()
)

your 131072x1 screen size is bogus. expect trouble
23/09/14 11:15:13 WARN Utils: Your hostname, DESKTOP-SATV84A resolves to a loopback address: 127.0.1.1; using 172.26.254.29 instead (on interface eth0)
23/09/14 11:15:13 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
23/09/14 11:15:15 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

Functions to check null or missing values and size of dataframe

In [ ]:
def count_null_values(df):
    """
    This function counts the number of null, None, or NaN values for all columns in a Spark DataFrame.
    """
    # Use a list comprehension to count null, None, or NaN values for each column
    count_expr = [count(when(col(c).isNull(), c)).alias(c) for c in df.columns]

    # Apply the count expression and show the result
    result = df.select(count_expr)
    result.show()

In [ ]:
def count_missing_data(df):
    """
    This function counts the number of missing data entries (empty strings) for all columns in a Spark DataFrame.
    """
    # Use a list comprehension to count missing data entries for each column
    count_expr = [F.count(when(col(c) == '', c)).alias(c) for c in df.columns]

    # Apply the count expression and show the result
    result = df.select(count_expr)
    result.show()

In [ ]:
def count_rows_and_print(df: DataFrame) -> int:
    """
    Count the number of rows in a Spark DataFrame and print the result.
    Input:
        A Spark DataFrame for which you want to count the rows.
    Output:
        The number of rows in the DataFrame.
    """
    row_count = df.count()
    print(f"Number of rows in the DataFrame: {row_count}")
    return row_count

# Census Data

- sa2_census.parquet
- sa2_pops.parquet
- sa2_to_postcode.parquet

In [ ]:
# Load in census data
census_file_path = '../../../data/nulls&missing_analysis/sa2/sa2_census.parquet'
pop_file_path = '../../../data/nulls&missing_analysis/sa2/sa2_pops.parquet'
post_file_path = '../../../data/nulls&missing_analysis/sa2/sa2_to_postcode.parquet'

sa2_census = spark.read.parquet(census_file_path)
sa2_pops = spark.read.parquet(pop_file_path)
sa2_post =  spark.read.parquet(post_file_path)

Checking size of dataframes.

In [ ]:
print("sa2_census:")
count_rows_and_print(sa2_census)

print("sa2_pops:")
count_rows_and_print(sa2_pops)

print("sa2_post:")
count_rows_and_print(sa2_post)

sa2_census:
Number of rows in the DataFrame: 2472
sa2_pops:
Number of rows in the DataFrame: 2454
sa2_post:
Number of rows in the DataFrame: 35040

35040

Checking for null values in sa2 data

In [ ]:
print("Checking sa2_census:")
count_null_values(sa2_census)

print("Checking sa2_pops:")
count_null_values(sa2_pops)

print("Checking sa2_post:")
count_null_values(sa2_post)

Checking sa2_census:
+--------+--------------+---------------------------------+-------------------------------+----------------------+-----------------------------+--------------------------------+-----------------------------+--------------------------+
|sa2_code|sa2_median_age|sa2_median_mortgage_repay_monthly|sa2_median_tot_prsnl_inc_weekly|sa2_median_rent_weekly|sa2_median_tot_fam_inc_weekly|sa2_average_num_psns_per_bedroom|sa2_median_tot_hhd_inc_weekly|sa2_average_household_size|
+--------+--------------+---------------------------------+-------------------------------+----------------------+-----------------------------+--------------------------------+-----------------------------+--------------------------+
|       0|             0|                                0|                              0|                     0|                            0|                               0|                            0|                         0|
+--------+--------------+---------------------------------+-------------------------------+----------------------+-----------------------------+--------------------------------+-----------------------------+--------------------------+

Checking sa2_pops:
+--------+--------+--------+--------+---------------+
|sa4_name|sa3_name|sa2_code|sa2_name|population_2021|
+--------+--------+--------+--------+---------------+
|       0|       0|       0|       0|              0|
+--------+--------+--------+--------+---------------+

Checking sa2_post:
+--------+--------+
|postcode|sa2_code|
+--------+--------+
|     363|       0|
+--------+--------+

Checking for missing entries in sa2 data

In [ ]:
print("Checking sa2_census:")
count_missing_data(sa2_census)

print("Checking sa2_pops:")
count_missing_data(sa2_pops)

print("Checking sa2_post:")
count_missing_data(sa2_post)

Checking sa2_census:
+--------+--------------+---------------------------------+-------------------------------+----------------------+-----------------------------+--------------------------------+-----------------------------+--------------------------+
|sa2_code|sa2_median_age|sa2_median_mortgage_repay_monthly|sa2_median_tot_prsnl_inc_weekly|sa2_median_rent_weekly|sa2_median_tot_fam_inc_weekly|sa2_average_num_psns_per_bedroom|sa2_median_tot_hhd_inc_weekly|sa2_average_household_size|
+--------+--------------+---------------------------------+-------------------------------+----------------------+-----------------------------+--------------------------------+-----------------------------+--------------------------+
|       0|             0|                                0|                              0|                     0|                            0|                               0|                            0|                         0|
+--------+--------------+---------------------------------+-------------------------------+----------------------+-----------------------------+--------------------------------+-----------------------------+--------------------------+

Checking sa2_pops:
+--------+--------+--------+--------+---------------+
|sa4_name|sa3_name|sa2_code|sa2_name|population_2021|
+--------+--------+--------+--------+---------------+
|       0|       0|       0|       0|              0|
+--------+--------+--------+--------+---------------+

Checking sa2_post:
+--------+--------+
|postcode|sa2_code|
+--------+--------+
|       0|       0|
+--------+--------+

There are 363 null postcodes in the sa2_to_postcode dataframe out of the 35,040 rows. There are no missing data entries in any of the initial sa2 datasets.

# Consumer Data
- consumer_fraud_probability.parquet
- consumer_tbl.parquet
- consumer_user_details.parquet

In [ ]:
# Load in consumer data
fp_file_path = '../../../data/nulls&missing_analysis/consumer/consumer_fraud_probability.parquet'
cons_file_path = '../../../data/nulls&missing_analysis/consumer/consumer_tbl.parquet'
user_det_file_path = '../../../data/nulls&missing_analysis/consumer/consumer_user_details.parquet'

cons_fp = spark.read.parquet(fp_file_path)
cons_tbl = spark.read.parquet(cons_file_path)
cons_user_det =  spark.read.parquet(user_det_file_path)

Checking size of dataframes.

In [ ]:
print("cons_fp:")
count_rows_and_print(cons_fp)

print("cons_tbl:")
count_rows_and_print(cons_tbl)

print("cons_user_det:")
count_rows_and_print(cons_user_det)

cons_fp:
Number of rows in the DataFrame: 34864
cons_tbl:
Number of rows in the DataFrame: 499999
cons_user_det:
Number of rows in the DataFrame: 499999

499999

Checking for null values in the consumer data.

In [ ]:
print("Checking cons_tbl:")
count_null_values(cons_tbl)

print("Checking cons_user_det:")
count_null_values(cons_user_det)

print("Checking cons_fp:")
count_null_values(cons_fp)

Checking cons_tbl:

+-------------+--------------+-----------------+---------------+-----------+
|consumer_name|consumer_state|consumer_postcode|consumer_gender|consumer_id|
+-------------+--------------+-----------------+---------------+-----------+
|            0|             0|                0|              0|          0|
+-------------+--------------+-----------------+---------------+-----------+

Checking cons_user_det:
+-------+-----------+
|user_id|consumer_id|
+-------+-----------+
|      0|          0|
+-------+-----------+

Checking cons_fp:
+-------+--------------+----------------------------+
|user_id|order_datetime|consumer_fraud_probability_%|
+-------+--------------+----------------------------+
|      0|             0|                           0|
+-------+--------------+----------------------------+

Checking for missing data entries in the consumer data.

In [ ]:
print("Checking cons_tbl:")
count_missing_data(cons_tbl)

print("Checking cons_user_det:")
count_missing_data(cons_user_det)

print("Checking cons_fp:")
count_missing_data(cons_fp)

Checking cons_tbl:
+-------------+--------------+-----------------+---------------+-----------+
|consumer_name|consumer_state|consumer_postcode|consumer_gender|consumer_id|
+-------------+--------------+-----------------+---------------+-----------+
|            0|             0|                0|              0|          0|
+-------------+--------------+-----------------+---------------+-----------+

Checking cons_user_det:
+-------+-----------+
|user_id|consumer_id|
+-------+-----------+
|      0|          0|
+-------+-----------+

Checking cons_fp:
+-------+--------------+----------------------------+
|user_id|order_datetime|consumer_fraud_probability_%|
+-------+--------------+----------------------------+
|      0|             0|                           0|
+-------+--------------+----------------------------+

There are no null values or missing entries in the consumer dataframes.

# Merchant Data
- merchant_fraud_probability.parquet
- merchant_tbl.parquet

In [ ]:
# Load in merchant data
fp_file_path = '../../../data/nulls&missing_analysis/merchant/merchant_fraud_probability.parquet'
merch_file_path = '../../../data/nulls&missing_analysis/merchant/merchant_tbl.parquet'

merch_fp = spark.read.parquet(fp_file_path)
merch_tbl = spark.read.parquet(merch_file_path)

Checking size of dataframes.

In [ ]:
print("merch_fp:")
count_rows_and_print(merch_fp)

print("merch_tbl:")
count_rows_and_print(merch_tbl)

merch_fp:
Number of rows in the DataFrame: 114
merch_tbl:
Number of rows in the DataFrame: 4026

4026

Checking for null values in the merchant data

In [ ]:
print("Checking merch_tbl:")
count_null_values(merch_tbl)

print("Checking merch_fp:")
count_null_values(merch_fp)

Checking merch_tbl:

+-------------+------------+-----+-------------+-----------+
|merchant_name|merchant_abn|words|revenue_level|take_rate_%|
+-------------+------------+-----+-------------+-----------+
|            0|           0|    0|            0|          0|
+-------------+------------+-----+-------------+-----------+

Checking merch_fp:
+------------+--------------+----------------------------+
|merchant_abn|order_datetime|merchant_fraud_probability_%|
+------------+--------------+----------------------------+
|           0|             0|                           0|
+------------+--------------+----------------------------+

Checking for missing entries in the merchant data

In [ ]:
print("Checking cons_tbl:")
count_missing_data(merch_tbl)

print("Checking merch_fp:")
count_missing_data(merch_fp)

Checking cons_tbl:
+-------------+------------+-----+-------------+-----------+
|merchant_name|merchant_abn|words|revenue_level|take_rate_%|
+-------------+------------+-----+-------------+-----------+
|            0|           0|    0|            0|          0|
+-------------+------------+-----+-------------+-----------+

Checking merch_fp:
+------------+--------------+----------------------------+
|merchant_abn|order_datetime|merchant_fraud_probability_%|
+------------+--------------+----------------------------+
|           0|             0|                           0|
+------------+--------------+----------------------------+

There are no null values or missing entries in the merchant dataframes.

# Transaction Data
- transactions_all.parquet

In [ ]:
# Load in transaction data
transactions_file_path = '../../../data/nulls&missing_analysis/transaction/transactions_all.parquet'

transactions_all = spark.read.parquet(transactions_file_path)

Checking size of dataframe

In [ ]:
print("transactions_all:")
count_rows_and_print(transactions_all)

transactions_all:
Number of rows in the DataFrame: 14195505

14195505

Checking for null values in the transaction data

In [ ]:
print("transactions_all:")
count_null_values(transactions_all)

transactions_all:

+-------+------------+------------+--------+--------------+
|user_id|merchant_abn|dollar_value|order_id|order_datetime|
+-------+------------+------------+--------+--------------+
|      0|           0|           0|       0|             0|
+-------+------------+------------+--------+--------------+

Checking for missing values in the transaction data

In [ ]:
print("transactions_all:")
count_missing_data(transactions_all)

transactions_all:
+-------+------------+------------+--------+--------------+
|user_id|merchant_abn|dollar_value|order_id|order_datetime|
+-------+------------+------------+--------+--------------+
|      0|           0|           0|       0|             0|
+-------+------------+------------+--------+--------------+

There are no null values or missing entries in the transaction dataframe.

# Joining Datasets

Joining datasets together, checking for null values after each join and missing data

# Join cons_tbl data with cons_user_det

In [ ]:
cons_join = cons_tbl.join(cons_user_det, on='consumer_id', how='inner')

Check for null values

In [ ]:
print("Check cons_join for null values:")
count_null_values(cons_join)

Check cons_join for null values:
+-----------+-------------+--------------+-----------------+---------------+-------+
|consumer_id|consumer_name|consumer_state|consumer_postcode|consumer_gender|user_id|
+-----------+-------------+--------------+-----------------+---------------+-------+
|          0|            0|             0|                0|              0|      0|
+-----------+-------------+--------------+-----------------+---------------+-------+

Check for missing rows after joining cons_tbl data with cons_user_det

In [ ]:
print("cons_join:")
count_rows_and_print(cons_join)

cons_join:
Number of rows in the DataFrame: 499999

499999

There are no null values after joining consumer data. 
Also there are no missing data after the first join. That is the number of rows before the join is 499,999 and then there is still 499,999 rows after the join.

# Join cons_join with transaction_all

In [ ]:
cons_transaction = cons_join.join(transactions_all, on='user_id', how ='inner')

Check for nulls after joining cons_join and transaction_all

In [ ]:
count_null_values(cons_transaction)

+-------+-----------+-------------+--------------+-----------------+---------------+------------+------------+--------+--------------+
|user_id|consumer_id|consumer_name|consumer_state|consumer_postcode|consumer_gender|merchant_abn|dollar_value|order_id|order_datetime|
+-------+-----------+-------------+--------------+-----------------+---------------+------------+------------+--------+--------------+
|      0|          0|            0|             0|                0|              0|           0|           0|       0|             0|
+-------+-----------+-------------+--------------+-----------------+---------------+------------+------------+--------+--------------+

Now check for missing rows after joining cons_join and transactions_all.

In [ ]:
print("cons_transaction:")
count_rows_and_print(cons_transaction)

cons_transaction:

Number of rows in the DataFrame: 14195505

14195505

There are no null values after joining in the transaction data. 
Also there is no missing data after the first join. That is the number of rows in transaction before the join is 14,195,505 and then there is still 14,195,505 rows after the join.

# Join cons_transaction with cons_fp

In [ ]:
cons_transaction_with_fraud = cons_transaction.join(cons_fp, on=['user_id', 'order_datetime'], how='left')

Check for nulls after joining cons_transaction and cons_fp

In [ ]:
count_null_values(cons_transaction_with_fraud)

+-------+--------------+-----------+-------------+--------------+-----------------+---------------+------------+------------+--------+----------------------------+
|user_id|order_datetime|consumer_id|consumer_name|consumer_state|consumer_postcode|consumer_gender|merchant_abn|dollar_value|order_id|consumer_fraud_probability_%|
+-------+--------------+-----------+-------------+--------------+-----------------+---------------+------------+------------+--------+----------------------------+
|      0|             0|          0|            0|             0|                0|              0|           0|           0|       0|                    14115157|
+-------+--------------+-----------+-------------+--------------+-----------------+---------------+------------+------------+--------+----------------------------+

Now check for missing rows after joining cons_transaction and cons_fp.

In [ ]:
print("cons_transaction_with_fraud:")
count_rows_and_print(cons_transaction_with_fraud)

cons_transaction_with_fraud:

Number of rows in the DataFrame: 14195717

14195717

There is 14,115,157 null values in the consumer fraud probability values out of the 14,195,717 rows.

Also there is an increase in the size of the data after this join. The number of rows before the join is 14,195,505 and then there 14,195,717 rows after the join. So 212 rows are gained in this join, most likely as a result of there being multiple matches in the right table for a single row in the left table.

# Join cons_transaction_with_fraud with merch_tbl

In [ ]:
cons_transaction_fraud_merchant = cons_transaction_with_fraud.join(merch_tbl, on='merchant_abn', how='inner')

Check for nulls after joining cons_transaction_with_fraud and merch_tbl

In [ ]:
count_null_values(cons_transaction_fraud_merchant)

+------------+-------+--------------+-----------+-------------+--------------+-----------------+---------------+------------+--------+----------------------------+-------------+-----+-------------+-----------+
|merchant_abn|user_id|order_datetime|consumer_id|consumer_name|consumer_state|consumer_postcode|consumer_gender|dollar_value|order_id|consumer_fraud_probability_%|merchant_name|words|revenue_level|take_rate_%|
+------------+-------+--------------+-----------+-------------+--------------+-----------------+---------------+------------+--------+----------------------------+-------------+-----+-------------+-----------+
|           0|      0|             0|          0|            0|             0|                0|              0|           0|       0|                    13543038|            0|    0|            0|          0|
+------------+-------+--------------+-----------+-------------+--------------+-----------------+---------------+------------+--------+----------------------------+-------------+-----+-------------+-----------+

Checking for missing rows after joining cons_transaction_with_fraud and merch_tbl

In [ ]:
print("cons_transaction_fraud_merchant:")
count_rows_and_print(cons_transaction_fraud_merchant)

cons_transaction_fraud_merchant:
Number of rows in the DataFrame: 13614854

13614854

Still the only column with null values is consumer fraud probabilities with 13,543,038 missing out of 13,614,854 rows.

There is a decrease in the size of this data after this join. The number of rows before the join is 14,195,505 whereas after the join there is 13,614,854 rows. This means that there are 580,651 missing rows of data after this join.

# Join cons_transaction_fraud_merchant with merch_fp

In [ ]:
combined_data_all = cons_transaction_fraud_merchant.join(merch_fp, on=['merchant_abn', 'order_datetime'], how='left')

Check for nulls after joining cons_transaction_fraud_merchant and merch_fp

In [ ]:
count_null_values(combined_data_all)

+------------+--------------+-------+-----------+-------------+--------------+-----------------+---------------+------------+--------+----------------------------+-------------+-----+-------------+-----------+----------------------------+
|merchant_abn|order_datetime|user_id|consumer_id|consumer_name|consumer_state|consumer_postcode|consumer_gender|dollar_value|order_id|consumer_fraud_probability_%|merchant_name|words|revenue_level|take_rate_%|merchant_fraud_probability_%|
+------------+--------------+-------+-----------+-------------+--------------+-----------------+---------------+------------+--------+----------------------------+-------------+-----+-------------+-----------+----------------------------+
|           0|             0|      0|          0|            0|             0|                0|              0|           0|       0|                    13543038|            0|    0|            0|          0|                    13610826|
+------------+--------------+-------+-----------+-------------+--------------+-----------------+---------------+------------+--------+----------------------------+-------------+-----+-------------+-----------+----------------------------+

Checking for missing rows after joining cons_transaction_fraud_merchant and merch_fp

In [ ]:
print("combined_data_all:")
count_rows_and_print(combined_data_all)

combined_data_all:
Number of rows in the DataFrame: 13614854

13614854

After joining the merchant fraud probability, there are 2 columns that have null values. These are consumer_fraud_probability_% and merchant_fraud_probability_%. consumer_fraud_probability_% has 13,543,038 null values and merchant_fraud_probability_% has 13,610,826 null values.

There is also no change in the size of this data after this join. The number of rows before the join is 13,614,854 and remains the same after the join.

# Joining SA2/Census Data

# Join the sa2_to_post to sa2_pops

In [ ]:
sa2_postcode_and_pops = sa2_post.join(sa2_pops, on='sa2_code', how='inner').withColumnRenamed('population_2021','sa2_population')

Check for nulls after joining sa2_post and sa2_pops

In [ ]:
count_null_values(sa2_postcode_and_pops)

+--------+--------+--------+--------+--------+--------------+
|sa2_code|postcode|sa4_name|sa3_name|sa2_name|sa2_population|
+--------+--------+--------+--------+--------+--------------+
|       0|     363|       0|       0|       0|             0|
+--------+--------+--------+--------+--------+--------------+

Checking for missing rows after joining sa2_post and sa2_pops

In [ ]:
print("sa2_postcode_and_pops:")
count_rows_and_print(sa2_postcode_and_pops)

sa2_postcode_and_pops:

Number of rows in the DataFrame: 35040

35040

There are no null values from this join. Also no rows are missing, with 35,040 rows still remaining after the join

# Join the sa2_postcode_and_pops with sa2_census

In [ ]:
# Join the SA2 data
sa2_combined = sa2_postcode_and_pops.join(sa2_census, on='sa2_code', how='inner')

Check for nulls after joining sa2_postcode_and_pops and sa2_census

In [ ]:
count_null_values(sa2_combined)

+--------+--------+--------+--------+--------+--------------+--------------+---------------------------------+-------------------------------+----------------------+-----------------------------+--------------------------------+-----------------------------+--------------------------+
|sa2_code|postcode|sa4_name|sa3_name|sa2_name|sa2_population|sa2_median_age|sa2_median_mortgage_repay_monthly|sa2_median_tot_prsnl_inc_weekly|sa2_median_rent_weekly|sa2_median_tot_fam_inc_weekly|sa2_average_num_psns_per_bedroom|sa2_median_tot_hhd_inc_weekly|sa2_average_household_size|
+--------+--------+--------+--------+--------+--------------+--------------+---------------------------------+-------------------------------+----------------------+-----------------------------+--------------------------------+-----------------------------+--------------------------+
|       0|     363|       0|       0|       0|             0|             0|                                0|                              0|                     0|                            0|                               0|                            0|                         0|
+--------+--------+--------+--------+--------+--------------+--------------+---------------------------------+-------------------------------+----------------------+-----------------------------+--------------------------------+-----------------------------+--------------------------+

Checking for missing rows after sa2_postcode_and_pops and sa2_census

In [ ]:
print("sa2_combined:")
count_rows_and_print(sa2_combined)

sa2_combined:
Number of rows in the DataFrame: 35040

35040

There are still the null values present from the other previous search (363 postcode values are null). 

Also after the joining, there are still 35,040 rows in the dataframe. No rows have been lost joining the data together.

# Now to join all tables together
First group together SA2 stats (copied from the ETL)

In [ ]:
# Group SA2 statistics by postcodes by taking averages and medians
postcode_combined = sa2_combined.groupBy("postcode") \
    .agg(F.avg("sa2_population").alias("consumer_postcode_estimated_population"), \
        F.median("sa2_median_age").alias("consumer_postcode_median_age"), \
        F.median("sa2_median_mortgage_repay_monthly").alias("consumer_postcode_median_mortgage_repay_monthly"), \
        F.median("sa2_median_tot_prsnl_inc_weekly").alias("consumer_postcode_median_totl_prsnal_inc_weekly"), \
        F.median("sa2_median_rent_weekly").alias("consumer_postcode_median_rent_weekly"), \
        F.median("sa2_median_tot_fam_inc_weekly").alias("consumer_postcode_median_tot_fam_inc_weekly"), \
        F.avg("sa2_average_num_psns_per_bedroom").alias("consumer_postcode_avg_num_psns_per_bedroom"), \
        F.median("sa2_median_tot_hhd_inc_weekly").alias("consumer_postcode_median_tot_hhd_inc_weekly"), \
        F.avg("sa2_average_household_size").alias("consumer_postcode_avg_household_size")
    ).withColumnRenamed('postcode', 'consumer_postcode')


postcode_combined = postcode_combined.select(*[F.round(c, 2).alias(c) for c in postcode_combined.columns])

postcode_combined = postcode_combined.withColumn("consumer_postcode_estimated_population", F.round(F.col("consumer_postcode_estimated_population")))

Now combine with rest of data

In [ ]:
# Combine everything together
all_combined = combined_data_all.join(postcode_combined.withColumnRenamed('postcode','consumer_postcode'), on='consumer_postcode', how='inner')

Checking for null values after joining all data

In [ ]:
count_null_values(all_combined)

+-----------------+------------+--------------+-------+-----------+-------------+--------------+---------------+------------+--------+----------------------------+-------------+-----+-------------+-----------+----------------------------+--------------------------------------+----------------------------+-----------------------------------------------+-----------------------------------------------+------------------------------------+-------------------------------------------+------------------------------------------+-------------------------------------------+------------------------------------+
|consumer_postcode|merchant_abn|order_datetime|user_id|consumer_id|consumer_name|consumer_state|consumer_gender|dollar_value|order_id|consumer_fraud_probability_%|merchant_name|words|revenue_level|take_rate_%|merchant_fraud_probability_%|consumer_postcode_estimated_population|consumer_postcode_median_age|consumer_postcode_median_mortgage_repay_monthly|consumer_postcode_median_totl_prsnal_inc_weekly|consumer_postcode_median_rent_weekly|consumer_postcode_median_tot_fam_inc_weekly|consumer_postcode_avg_num_psns_per_bedroom|consumer_postcode_median_tot_hhd_inc_weekly|consumer_postcode_avg_household_size|
+-----------------+------------+--------------+-------+-----------+-------------+--------------+---------------+------------+--------+----------------------------+-------------+-----+-------------+-----------+----------------------------+--------------------------------------+----------------------------+-----------------------------------------------+-----------------------------------------------+------------------------------------+-------------------------------------------+------------------------------------------+-------------------------------------------+------------------------------------+
|                0|           0|             0|      0|          0|            0|             0|              0|           0|       0|                    11312983|            0|    0|            0|          0|                    11369563|                                     0|                           0|                                              0|                                              0|                                   0|                                          0|                                         0|                                          0|                                   0|
+-----------------+------------+--------------+-------+-----------+-------------+--------------+---------------+------------+--------+----------------------------+-------------+-----+-------------+-----------+----------------------------+--------------------------------------+----------------------------+-----------------------------------------------+-----------------------------------------------+------------------------------------+-------------------------------------------+------------------------------------------+-------------------------------------------+------------------------------------+

Checking for missing rows after joining all data

In [ ]:
print("all_combined:")
count_rows_and_print(all_combined)

all_combined:

Number of rows in the DataFrame: 11372905

11372905

No new columns with null values. Still consumer_fraud_probability_% and merchant_fraud_probability_%. consumer_fraud_probability_% has 11,312,983 nulls and merchant_fraud_probability_% has 11,369,563 null values.

There is a decrease in the size of this data after this join. The number of rows before the join is 13,614,854 whereas after the join there is 11,372,905 rows. This means that there are 2,241,949 missing rows of data after this join.

Investigate why data is discarded on join with SA2 data

In [ ]:
combined_data_all.join(postcode_combined.withColumnRenamed('postcode','consumer_postcode'), on='consumer_postcode', how='left_anti').select('consumer_postcode').distinct().collect()

[Row(consumer_postcode=3800),
 Row(consumer_postcode=1224),
 Row(consumer_postcode=1010),
 Row(consumer_postcode=1360),
 Row(consumer_postcode=6892),
 Row(consumer_postcode=1145),
 Row(consumer_postcode=1127),
 Row(consumer_postcode=1202),
 Row(consumer_postcode=4072),
 Row(consumer_postcode=6905),
 Row(consumer_postcode=1175),
 Row(consumer_postcode=2520),
 Row(consumer_postcode=6911),
 Row(consumer_postcode=1217),
 Row(consumer_postcode=6917),
 Row(consumer_postcode=6922),
 Row(consumer_postcode=1480),
 Row(consumer_postcode=1042),
 Row(consumer_postcode=831),
 Row(consumer_postcode=1740),
 Row(consumer_postcode=6809),
 Row(consumer_postcode=1211),
 Row(consumer_postcode=1640),
 Row(consumer_postcode=6933),
 Row(consumer_postcode=1157),
 Row(consumer_postcode=1428),
 Row(consumer_postcode=1152),
 Row(consumer_postcode=6985),
 Row(consumer_postcode=6921),
 Row(consumer_postcode=6956),
 Row(consumer_postcode=1041),
 Row(consumer_postcode=1427),
 Row(consumer_postcode=2309),
 Row(consumer_postcode=1460),
 Row(consumer_postcode=8102),
 Row(consumer_postcode=6912),
 Row(consumer_postcode=6331),
 Row(consumer_postcode=1445),
 Row(consumer_postcode=1199),
 Row(consumer_postcode=2314),
 Row(consumer_postcode=1730),
 Row(consumer_postcode=6909),
 Row(consumer_postcode=3399),
 Row(consumer_postcode=6957),
 Row(consumer_postcode=3689),
 Row(consumer_postcode=6231),
 Row(consumer_postcode=1038),
 Row(consumer_postcode=1174),
 Row(consumer_postcode=6761),
 Row(consumer_postcode=5005),
 Row(consumer_postcode=1110),
 Row(consumer_postcode=3552),
 Row(consumer_postcode=1210),
 Row(consumer_postcode=1119),
 Row(consumer_postcode=3671),
 Row(consumer_postcode=6915),
 Row(consumer_postcode=1485),
 Row(consumer_postcode=1212),
 Row(consumer_postcode=1185),
 Row(consumer_postcode=6830),
 Row(consumer_postcode=9000),
 Row(consumer_postcode=1002),
 Row(consumer_postcode=1213),
 Row(consumer_postcode=9464),
 Row(consumer_postcode=4229),
 Row(consumer_postcode=1710),
 Row(consumer_postcode=6731),
 Row(consumer_postcode=3841),
 Row(consumer_postcode=909),
 Row(consumer_postcode=1025),
 Row(consumer_postcode=1219),
 Row(consumer_postcode=1240),
 Row(consumer_postcode=1771),
 Row(consumer_postcode=1108),
 Row(consumer_postcode=1128),
 Row(consumer_postcode=1134),
 Row(consumer_postcode=2012),
 Row(consumer_postcode=6969),
 Row(consumer_postcode=1233),
 Row(consumer_postcode=3853),
 Row(consumer_postcode=1811),
 Row(consumer_postcode=1440),
 Row(consumer_postcode=6839),
 Row(consumer_postcode=3989),
 Row(consumer_postcode=1420),
 Row(consumer_postcode=8205),
 Row(consumer_postcode=9007),
 Row(consumer_postcode=1297),
 Row(consumer_postcode=6843),
 Row(consumer_postcode=8111),
 Row(consumer_postcode=1141),
 Row(consumer_postcode=5942),
 Row(consumer_postcode=6983),
 Row(consumer_postcode=6733),
 Row(consumer_postcode=3353),
 Row(consumer_postcode=6332),
 Row(consumer_postcode=1639),
 Row(consumer_postcode=9015),
 Row(consumer_postcode=1891),
 Row(consumer_postcode=3050),
 Row(consumer_postcode=7051),
 Row(consumer_postcode=2348),
 Row(consumer_postcode=1602),
 Row(consumer_postcode=7002),
 Row(consumer_postcode=1299),
 Row(consumer_postcode=814),
 Row(consumer_postcode=2708),
 Row(consumer_postcode=1805),
 Row(consumer_postcode=1021),
 Row(consumer_postcode=8002),
 Row(consumer_postcode=2059),
 Row(consumer_postcode=6918),
 Row(consumer_postcode=6925),
 Row(consumer_postcode=8010),
 Row(consumer_postcode=1135),
 Row(consumer_postcode=1149),
 Row(consumer_postcode=6931),
 Row(consumer_postcode=9013),
 Row(consumer_postcode=1441),
 Row(consumer_postcode=1238),
 Row(consumer_postcode=8004),
 Row(consumer_postcode=2522),
 Row(consumer_postcode=1831),
 Row(consumer_postcode=6990),
 Row(consumer_postcode=1191),
 Row(consumer_postcode=1429),
 Row(consumer_postcode=6837),
 Row(consumer_postcode=6838),
 Row(consumer_postcode=2616),
 Row(consumer_postcode=3554),
 Row(consumer_postcode=3005),
 Row(consumer_postcode=1124),
 Row(consumer_postcode=1150),
 Row(consumer_postcode=8001),
 Row(consumer_postcode=1675),
 Row(consumer_postcode=1476),
 Row(consumer_postcode=6937),
 Row(consumer_postcode=1570),
 Row(consumer_postcode=4801),
 Row(consumer_postcode=6939),
 Row(consumer_postcode=1164),
 Row(consumer_postcode=3502),
 Row(consumer_postcode=8011),
 Row(consumer_postcode=1426),
 Row(consumer_postcode=7001),
 Row(consumer_postcode=1800),
 Row(consumer_postcode=1046),
 Row(consumer_postcode=1236),
 Row(consumer_postcode=6942),
 Row(consumer_postcode=861),
 Row(consumer_postcode=1484),
 Row(consumer_postcode=1116),
 Row(consumer_postcode=2755),
 Row(consumer_postcode=1190),
 Row(consumer_postcode=6846),
 Row(consumer_postcode=1196),
 Row(consumer_postcode=1781),
 Row(consumer_postcode=1888),
 Row(consumer_postcode=1009),
 Row(consumer_postcode=6965),
 Row(consumer_postcode=1121),
 Row(consumer_postcode=1230),
 Row(consumer_postcode=907),
 Row(consumer_postcode=1114),
 Row(consumer_postcode=6961),
 Row(consumer_postcode=1595),
 Row(consumer_postcode=4857),
 Row(consumer_postcode=6842),
 Row(consumer_postcode=813),
 Row(consumer_postcode=1100),
 Row(consumer_postcode=6963),
 Row(consumer_postcode=3619),
 Row(consumer_postcode=1425),
 Row(consumer_postcode=1597),
 Row(consumer_postcode=1700),
 Row(consumer_postcode=6964),
 Row(consumer_postcode=6966),
 Row(consumer_postcode=1875),
 Row(consumer_postcode=1040),
 Row(consumer_postcode=8120),
 Row(consumer_postcode=8069),
 Row(consumer_postcode=1118),
 Row(consumer_postcode=1741),
 Row(consumer_postcode=6951),
 Row(consumer_postcode=1218),
 Row(consumer_postcode=1163),
 Row(consumer_postcode=1136),
 Row(consumer_postcode=3632),
 Row(consumer_postcode=1132),
 Row(consumer_postcode=1685),
 Row(consumer_postcode=1130),
 Row(consumer_postcode=2610),
 Row(consumer_postcode=1790),
 Row(consumer_postcode=1115),
 Row(consumer_postcode=1560),
 Row(consumer_postcode=1126),
 Row(consumer_postcode=6827),
 Row(consumer_postcode=1232),
 Row(consumer_postcode=1151),
 Row(consumer_postcode=6820),
 Row(consumer_postcode=1493),
 Row(consumer_postcode=6936),
 Row(consumer_postcode=6960),
 Row(consumer_postcode=1208),
 Row(consumer_postcode=3643),
 Row(consumer_postcode=1475),
 Row(consumer_postcode=9009),
 Row(consumer_postcode=1037),
 Row(consumer_postcode=6803),
 Row(consumer_postcode=2891),
 Row(consumer_postcode=8008),
 Row(consumer_postcode=1045),
 Row(consumer_postcode=8107),
 Row(consumer_postcode=6952),
 Row(consumer_postcode=871),
 Row(consumer_postcode=6938),
 Row(consumer_postcode=4029),
 Row(consumer_postcode=6840),
 Row(consumer_postcode=6913),
 Row(consumer_postcode=1239),
 Row(consumer_postcode=1112),
 Row(consumer_postcode=815),
 Row(consumer_postcode=1228),
 Row(consumer_postcode=5001),
 Row(consumer_postcode=8003),
 Row(consumer_postcode=1231),
 Row(consumer_postcode=9002),
 Row(consumer_postcode=1435),
 Row(consumer_postcode=6841),
 Row(consumer_postcode=4271),
 Row(consumer_postcode=2006),
 Row(consumer_postcode=1222),
 Row(consumer_postcode=1424),
 Row(consumer_postcode=1237),
 Row(consumer_postcode=1023),
 Row(consumer_postcode=6981),
 Row(consumer_postcode=1314),
 Row(consumer_postcode=1295),
 Row(consumer_postcode=1187),
 Row(consumer_postcode=2608),
 Row(consumer_postcode=1172),
 Row(consumer_postcode=1765),
 Row(consumer_postcode=2124),
 Row(consumer_postcode=1137),
 Row(consumer_postcode=6980),
 Row(consumer_postcode=804),
 Row(consumer_postcode=6848),
 Row(consumer_postcode=6943),
 Row(consumer_postcode=1007),
 Row(consumer_postcode=9999),
 Row(consumer_postcode=6914),
 Row(consumer_postcode=1117),
 Row(consumer_postcode=2052),
 Row(consumer_postcode=1885),
 Row(consumer_postcode=2013),
 Row(consumer_postcode=1155),
 Row(consumer_postcode=8785),
 Row(consumer_postcode=8012),
 Row(consumer_postcode=1207),
 Row(consumer_postcode=1005),
 Row(consumer_postcode=1192),
 Row(consumer_postcode=1153),
 Row(consumer_postcode=1146),
 Row(consumer_postcode=1122),
 Row(consumer_postcode=1107),
 Row(consumer_postcode=9001),
 Row(consumer_postcode=3724),
 Row(consumer_postcode=1340),
 Row(consumer_postcode=6989),
 Row(consumer_postcode=6940),
 Row(consumer_postcode=1890),
 Row(consumer_postcode=1227),
 Row(consumer_postcode=6900),
 Row(consumer_postcode=2310),
 Row(consumer_postcode=6932),
 Row(consumer_postcode=6997),
 Row(consumer_postcode=1465),
 Row(consumer_postcode=2004),
 Row(consumer_postcode=4471),
 Row(consumer_postcode=3010),
 Row(consumer_postcode=8071),
 Row(consumer_postcode=7151),
 Row(consumer_postcode=6865),
 Row(consumer_postcode=2351),
 Row(consumer_postcode=1430),
 Row(consumer_postcode=1189),
 Row(consumer_postcode=200),
 Row(consumer_postcode=1044),
 Row(consumer_postcode=1466),
 Row(consumer_postcode=6800),
 Row(consumer_postcode=1296),
 Row(consumer_postcode=1201),
 Row(consumer_postcode=6945),
 Row(consumer_postcode=2002),
 Row(consumer_postcode=3086),
 Row(consumer_postcode=8009),
 Row(consumer_postcode=1143),
 Row(consumer_postcode=1585),
 Row(consumer_postcode=1355),
 Row(consumer_postcode=1225),
 Row(consumer_postcode=1120),
 Row(consumer_postcode=4475),
 Row(consumer_postcode=1113),
 Row(consumer_postcode=6955),
 Row(consumer_postcode=1655),
 Row(consumer_postcode=1166),
 Row(consumer_postcode=1186),
 Row(consumer_postcode=1154),
 Row(consumer_postcode=1481),
 Row(consumer_postcode=8045),
 Row(consumer_postcode=906),
 Row(consumer_postcode=6910),
 Row(consumer_postcode=1423),
 Row(consumer_postcode=4813),
 Row(consumer_postcode=4002),
 Row(consumer_postcode=1291),
 Row(consumer_postcode=1125),
 Row(consumer_postcode=1035),
 Row(consumer_postcode=1034),
 Row(consumer_postcode=1138),
 Row(consumer_postcode=1209),
 Row(consumer_postcode=2129),
 Row(consumer_postcode=1167),
 Row(consumer_postcode=1001),
 Row(consumer_postcode=801),
 Row(consumer_postcode=2058),
 Row(consumer_postcode=1419),
 Row(consumer_postcode=6904),
 Row(consumer_postcode=6958),
 Row(consumer_postcode=1490),
 Row(consumer_postcode=1171),
 Row(consumer_postcode=1235),
 Row(consumer_postcode=1179),
 Row(consumer_postcode=2442),
 Row(consumer_postcode=1715),
 Row(consumer_postcode=1335),
 Row(consumer_postcode=1161),
 Row(consumer_postcode=6941),
 Row(consumer_postcode=1031),
 Row(consumer_postcode=6531),
 Row(consumer_postcode=6986),
 Row(consumer_postcode=1292),
 Row(consumer_postcode=1234),
 Row(consumer_postcode=1198),
 Row(consumer_postcode=6920),
 Row(consumer_postcode=1515),
 Row(consumer_postcode=821),
 Row(consumer_postcode=1350),
 Row(consumer_postcode=1194),
 Row(consumer_postcode=1590),
 Row(consumer_postcode=4222),
 Row(consumer_postcode=1027),
 Row(consumer_postcode=1635),
 Row(consumer_postcode=1565),
 Row(consumer_postcode=1825),
 Row(consumer_postcode=6901),
 Row(consumer_postcode=6979),
 Row(consumer_postcode=1182),
 Row(consumer_postcode=6959),
 Row(consumer_postcode=1203),
 Row(consumer_postcode=1658),
 Row(consumer_postcode=6844),
 Row(consumer_postcode=1670),
 Row(consumer_postcode=1188),
 Row(consumer_postcode=6982),
 Row(consumer_postcode=6832),
 Row(consumer_postcode=1221),
 Row(consumer_postcode=6987),
 Row(consumer_postcode=3164),
 Row(consumer_postcode=5071),
 Row(consumer_postcode=1160),
 Row(consumer_postcode=1455),
 Row(consumer_postcode=9010),
 Row(consumer_postcode=2252),
 Row(consumer_postcode=6850),
 Row(consumer_postcode=1173),
 Row(consumer_postcode=1101),
 Row(consumer_postcode=4001),
 Row(consumer_postcode=6435),
 Row(consumer_postcode=5810),
 Row(consumer_postcode=1020),
 Row(consumer_postcode=4803),
 Row(consumer_postcode=1830),
 Row(consumer_postcode=2139),
 Row(consumer_postcode=3402),
 Row(consumer_postcode=1129),
 Row(consumer_postcode=6845),
 Row(consumer_postcode=2109),
 Row(consumer_postcode=1300),
 Row(consumer_postcode=6903),
 Row(consumer_postcode=1499),
 Row(consumer_postcode=1156),
 Row(consumer_postcode=1036),
 Row(consumer_postcode=6967),
 Row(consumer_postcode=6953),
 Row(consumer_postcode=6984),
 Row(consumer_postcode=1750),
 Row(consumer_postcode=1148),
 Row(consumer_postcode=1123),
 Row(consumer_postcode=7006),
 Row(consumer_postcode=4230),
 Row(consumer_postcode=3001),
 Row(consumer_postcode=3676),
 Row(consumer_postcode=1162),
 Row(consumer_postcode=6934),
 Row(consumer_postcode=1197),
 Row(consumer_postcode=1170),
 Row(consumer_postcode=1109),
 Row(consumer_postcode=6849),
 Row(consumer_postcode=1223),
 Row(consumer_postcode=4004),
 Row(consumer_postcode=6817),
 Row(consumer_postcode=8051),
 Row(consumer_postcode=881),
 Row(consumer_postcode=6926),
 Row(consumer_postcode=1226),
 Row(consumer_postcode=6935),
 Row(consumer_postcode=1216),
 Row(consumer_postcode=1177),
 Row(consumer_postcode=1298),
 Row(consumer_postcode=6992),
 Row(consumer_postcode=1144),
 Row(consumer_postcode=1470),
 Row(consumer_postcode=2901),
 Row(consumer_postcode=6970),
 Row(consumer_postcode=1401),
 Row(consumer_postcode=1169),
 Row(consumer_postcode=1030),
 Row(consumer_postcode=6946),
 Row(consumer_postcode=3694),
 Row(consumer_postcode=6968),
 Row(consumer_postcode=8007),
 Row(consumer_postcode=811),
 Row(consumer_postcode=1871),
 Row(consumer_postcode=1220),
 Row(consumer_postcode=6991),
 Row(consumer_postcode=1630),
 Row(consumer_postcode=1028),
 Row(consumer_postcode=6872),
 Row(consumer_postcode=2751),
 Row(consumer_postcode=1180),
 Row(consumer_postcode=851),
 Row(consumer_postcode=6944),
 Row(consumer_postcode=1193),
 Row(consumer_postcode=1029),
 Row(consumer_postcode=6831),
 Row(consumer_postcode=1043),
 Row(consumer_postcode=2055),
 Row(consumer_postcode=6906),
 Row(consumer_postcode=1229),
 Row(consumer_postcode=4003),
 Row(consumer_postcode=1176),
 Row(consumer_postcode=9726),
 Row(consumer_postcode=1660),
 Row(consumer_postcode=1008),
 Row(consumer_postcode=6947),
 Row(consumer_postcode=1680),
 Row(consumer_postcode=8005),
 Row(consumer_postcode=9005),
 Row(consumer_postcode=2057),
 Row(consumer_postcode=1215),
 Row(consumer_postcode=1422),
 Row(consumer_postcode=1178),
 Row(consumer_postcode=6919),
 Row(consumer_postcode=5800),
 Row(consumer_postcode=1133),
 Row(consumer_postcode=1168),
 Row(consumer_postcode=3354),
 Row(consumer_postcode=8070),
 Row(consumer_postcode=6929),
 Row(consumer_postcode=1004),
 Row(consumer_postcode=6001),
 Row(consumer_postcode=1181),
 Row(consumer_postcode=1140),
 Row(consumer_postcode=3736),
 Row(consumer_postcode=5839),
 Row(consumer_postcode=6847),
 Row(consumer_postcode=1131),
 Row(consumer_postcode=1450),
 Row(consumer_postcode=4345),
 Row(consumer_postcode=1006),
 Row(consumer_postcode=6988),
 Row(consumer_postcode=1026),
 Row(consumer_postcode=6902),
 Row(consumer_postcode=1195),
 Row(consumer_postcode=1293),
 Row(consumer_postcode=1835),
 Row(consumer_postcode=6916),
 Row(consumer_postcode=1183),
 Row(consumer_postcode=6954),
 Row(consumer_postcode=1106),
 Row(consumer_postcode=6923),
 Row(consumer_postcode=2001),
 Row(consumer_postcode=1139),
 Row(consumer_postcode=6924),
 Row(consumer_postcode=1294),
 Row(consumer_postcode=2091),
 Row(consumer_postcode=4219),
 Row(consumer_postcode=1184),
 Row(consumer_postcode=1495),
 Row(consumer_postcode=6433),
 Row(consumer_postcode=1142),
 Row(consumer_postcode=8066),
 Row(consumer_postcode=1032),
 Row(consumer_postcode=1003),
 Row(consumer_postcode=1165),
 Row(consumer_postcode=1860),
 Row(consumer_postcode=6907),
 Row(consumer_postcode=1022),
 Row(consumer_postcode=1039),
 Row(consumer_postcode=2890),
 Row(consumer_postcode=3661),
 Row(consumer_postcode=8006),
 Row(consumer_postcode=1819),
 Row(consumer_postcode=2123),
 Row(consumer_postcode=1159),
 Row(consumer_postcode=3176),
 Row(consumer_postcode=1755),
 Row(consumer_postcode=1851),
 Row(consumer_postcode=1105),
 Row(consumer_postcode=1033),
 Row(consumer_postcode=1158),
 Row(consumer_postcode=1205),
 Row(consumer_postcode=1214),
 Row(consumer_postcode=1147),
 Row(consumer_postcode=6723)]

Many of these postcodes are PO boxes or don't have SA2 codes for 2021 data upon further investigation online

In [ ]:
combined_data_all.where(F.col('consumer_postcode') == 3800)

NameError: name 'combined_data_all' is not defined